*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
	font-family: 'Roboto', sans-serif;
}


.header{
	background: url(..//img/ипкфгтв.png) no-repeat;
	width: 100%;
	height: 960px;
	background-size: cover;
	overflow: hidden;
	border-bottom: 4px dashed rgba(255, 255, 255, 0.3);
}



.container__header{
	padding: 0 10px;
}



.logo{
	padding: 30px 0 0 20px;
}

.navbar{
	width: 100%;
	height: 100px;
	
	position: relative;
	top: -80px;
	right: -100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: right 0.8s;
	z-index: 10; 
}

.change{
	right: 90px;
}

.hamburger-menu{
	width: 35px;
	height: 20px;
	position: absolute;
	top: 60px;
	right: +25px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.line{
	width: 100%;
	height: 3px;
	background-color: #fff;
	transition: all .8s;
}

.line-2{
	opacity: 0;
}

.change .line-1{
	transform: rotateZ(-405deg) translate(-10px,0px);
}
.change .line-2{
	opacity: 0
}

.change .line-3{
	transform: rotateZ(405deg) translate(-9px,0);
}

.nav-list{
	text-align: right;
	display: flex;
}

.nav-item{
	margin: 20px;
}

.nav-link{
	font-size: 22px;
	color: #fff;
	letter-spacing: 1px;
	position: relative;
	padding: 5px 0;
}

.nav-link::before,
.nav-link::after{
	content: '';
	width: 100%;
	height: 2px;
	background-color: chocolate;
	position: absolute;
	left: 0;
	transform: scaleX(0);
	transition: transform 0.5s;
}

.nav-link:hover::before,
.nav-link:hover::after{
	transform: scaleX(1);
}

.nav-link::after{
	bottom: 0;
	transform-origin: right;
}

.nav-link::before{
	top: 0;
	transform-origin: left;
}


.content__top{
	width: 710px;
	margin: 25px 0 0 260px;
}
.content__titel{
	font-size: 55px;
	line-height: 118.19%;
	letter-spacing: 0.1em;
	color: #fff;
	transform: translate(0, 190%);
	opacity: 0;

	transition: all 0.8s ease 0s;
}

.content__titel._active{
	transform: translate(0, 0);
	opacity: 1;
}

.content__text{
	font-size: 20px;
	line-height: 133.19%;
	letter-spacing: 0.095em;
	color: #FFFFFF;
	margin: 10px 0 40px 0 ;
	transform: translate(0, 190%);
	opacity: 0;

	transition: all 0.8s ease 0s;
}

.content__text._active{
	transform: translate(0, 0);
	opacity: 1;
	transition: all 0.8s ease 0.5s;
}

.content__button{
	font-weight: 700;
	width: 150px;
	height: 45px;
	background-color: #E93636;
	border-radius: 18.5px;
	text-align: center;
	line-height: 45px;
	text-transform: uppercase;
	box-shadow: 0px 6px 40px rgba(233, 54, 54, 0.31);
	transform: translate(0, 190%);
	opacity: 0;

	transition: all 0.8s ease 0s;
}

.content__button._active{
	transform: translate(0, 0);
	opacity: 1;
	transition: all 0.8s ease 0s;
}

.content__button:hover{
	background-color: #000;
}

.btn{
	display: inline-block;
	color: #fff;
	width: 150px;
	height: 45px;
}


.content__row{
	display: flex;
	margin: 175px 0 0 0;
	justify-content: space-around;
}


.content__item{
	background: url(../img/bg1.jpg);
	width: 360px;
	height: 160px;
	border-radius: 15px;
	padding: 15px 30px 0 30px;
	
}


.item__titel{
	font-weight: 500;
	font-size: 24px;
	line-height: 118.19%;
	letter-spacing: -0.01em;
	color: #FFFFFF;
}

.item__bottom{
	display: flex;
	margin-top: 80px;
	justify-content: space-between;
	position: relative;
}

.item__bottom_price{
	font-weight: 500;
	font-size: 15px;
	line-height: 118.19%;
	color: #FFFFFF;
}

.item__bottom_price span{
	position: absolute;
	top: -1px;
}

.item__bottom_slider{
	width: 30px;
	height: 30px;
	border: 2px solid #E93636;
	border-radius: 50%;
	position: relative;
	top: -7px;
}

.item__bottom_slider:hover{
	background-color: #fff;
	border: 2px solid yellow;
}


.item__bottom_slider a{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.item__bottom_slider img{
	position: absolute;
	top: 7.5px;
	left: 6.5px;
}

.two{
	background: url(../img/bg2.png);
}

.three{
	background: url(../img/bg3.png);
}

.description{
	background-color: #10091E;
	padding: 30px 0 0 0;
	border-bottom: 4px dashed rgba(255, 255, 255, 0.3);
}

.container{
	margin: 0 80px;
}

.description__row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -50px;
}

.description__columns{
	width: 25%;
	min-width: 200px;
	min-height: 250px;
	padding: 0 50px;
	margin-bottom: 70px;
}

.description__columns:nth-child(5),
.description__columns:nth-child(6),
.description__columns:nth-child(7),
.description__columns:nth-child(8){
	margin-bottom: 0;
}

.description__img{
	margin: 0 0 30px 30px;
}

.description__titel{
	font-weight: bold;
	font-size: 24px;
	color: #FFFFFF;
}

.description__text{
	margin-top: 20px;
	font-size: 14px;
	letter-spacing: 0.095em;
	color: #FFFFFF;
}


